# ignore dialyzer *.plt files
*_dialyzer.plt

# ignore macosx specific meta file
.DS_Store

# ignore rebar specific files and folders
.eunit
rel/releases
rel/buka
rel/live
ebin
deps
log
erl_crash.dump
.proper
db/*
# ignore upgrade packages
rel/*.tar.gz
